<!DOCTYPE html>
<html lang="es_MX">
<head>
<title>ROKOStacio</title>
<meta charset="utf-8">

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->

<style>
body {font-family: Verdana, sans-serif; font-size:0.8em;}
header,nav, section,article,footer
{border:1px solid grey; margin:5px; padding:8px;}
nav ul {margin:0; padding:0;}
nav ul li {display:inline; margin:5px;}
</style>
</head>
<body>
    <header>
  <h2>ROKOStacio transmisi&oacute;n por internet</h2>
</header>

<nav>
<ul>
    <li><a href="/">Inicio</a></li>
    <% if(typeof banda !== 'undefined') { %>
    <li><a href="/cargar">Cargar rolas</a></li>
    <% } %>
    <% if(typeof usuario !== 'undefined') { %>
    <li><a href="/logout">Logout (Salir)</a></li>
    <% } %>
    <% if(typeof usuario === 'undefined') { %>
    <li><a href="/login">Login</a></li>
    <li><a href="/registro">Registrarse</a></li>
    <% } %>
    <% if(typeof usuario !== 'undefined') {
        if(visitante === "fabs@valtis.mx") { %>
            <li><a href="/buscar">Listar rolas</a></li>
        <% } 
           } %>
</ul>
</nav>

<section>
    <h4><%= message %></h4>
    <h4><%= error %></h4>
</section>

<footer>
<p>&copy; NUO Tecnolog&iacute;a S. de R.L. de C.V.</p>
</footer>

</body>
</html>
