<!DOCTYPE html>
<html lang="es_MX">
<head>
<title>ROKOStacio</title>
<meta charset="utf-8">
</head>
<body>
<h2>Retrieve from MongoDB</h2>
    <p>
    <%= valor %>
    </p>
    <p>
    <%= archivo %>
    </p>
</body>
</html>
