<!DOCTYPE html>
<html lang="es_MX">
<head>
<title>ROKOStacio</title>
<meta charset="utf-8">
</head>
<body>
<h2>Hola</h2>

    <form action='/subir.php7' method="post" enctype="multipart/form-data">
        <input type="text" name="valor"><br>
        <input type="file" name="archivo" id="archivo"><br>
        <input type="submit" value="Mandar">
    </form>
</body>
</html>
